# general
*~
*.log
tmp
dump

# Activator
.sbtserver
.sbtserver.lock

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
/lib

# Play
logs
RUNNING_PID

# Idea
.idea/
.idea_modules/

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
.cache-main
.cache-tests
bin
