@(menuItem : Int)

@main("Credits","","Credits", menuItem) {
    <!-- Your Page Content Here -->

    <p style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem ligula. Maecenas purus magna, molestie
        sed turpis eu, congue imperdiet enim. Nulla vitae nisi dictum augue feugiat fermentum a pretium mauris.
        Sed scelerisque erat quis turpis fermentum molestie. Sed sodales risus egestas justo hendrerit interdum.
        Suspendisse rhoncus nisl ut lacinia convallis. Mauris pulvinar ac ligula nec congue. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices mi eros, rhoncus
        porta velit posuere in. In accumsan ante pretium justo commodo malesuada.
    </p>

    <h3>About the founders</h3>


    <div class="row">
        <div class="col-md-6">
                <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <div class="widget-user-image">
                        <img alt="User Avatar" src=@routes.Assets.versioned("/images/amato.jpg") class="img-circle">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Gianluca Amato</h3>
                    <h5 class="widget-user-desc">Ricercatore</h5>
                </div>
                <div class="box-body">
                    <p>Breve descrizione.</p>
                    <p style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem ligula. Maecenas purus magna, molestie
                        sed turpis eu, congue imperdiet enim. Nulla vitae nisi dictum augue feugiat fermentum a pretium mauris.
                        Sed scelerisque erat quis turpis fermentum molestie. Sed sodales risus egestas justo hendrerit interdum.
                        Suspendisse rhoncus nisl ut lacinia convallis. Mauris pulvinar ac ligula nec congue. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices mi eros, rhoncus
                        porta velit posuere in. In accumsan ante pretium justo commodo malesuada.
                        </p>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Personal Homepage <span class="pull-right badge bg-green">12</span></a></li>
                    </ul>
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
        <div class="col-md-6">
                <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-fuchsia-active">
                    <div class="widget-user-image">
                        <img alt="User Avatar" src=@routes.Assets.versioned("/images/scozzari_f.jpg") class="img-circle">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Francesca Scozzari</h3>
                    <h5 class="widget-user-desc">Professoressa Associata</h5>
                </div>
                <div class="box-body">
                    <p>Breve descrizione.</p>
                    <p style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem ligula. Maecenas purus magna, molestie
                        sed turpis eu, congue imperdiet enim. Nulla vitae nisi dictum augue feugiat fermentum a pretium mauris.
                        Sed scelerisque erat quis turpis fermentum molestie. Sed sodales risus egestas justo hendrerit interdum.
                        Suspendisse rhoncus nisl ut lacinia convallis. Mauris pulvinar ac ligula nec congue. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices mi eros, rhoncus
                        porta velit posuere in. In accumsan ante pretium justo commodo malesuada.
                    </p>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Personal Homepage <span class="pull-right badge bg-green">12</span></a></li>
                    </ul>
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
    </div>

    <h3>Others:</h3>
    <div class="row">
        <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-green-active">
                    <div class="widget-user-image">
                        <img alt="User Avatar" src=@routes.Assets.versioned("/images/scozzari_f.jpg") class="img-circle">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Francesca Scozzari</h3>
                    <h5 class="widget-user-desc">Professoressa Associata</h5>
                </div>
                <div class="box-body">
                    <p>Breve descrizione.</p>
                    <p style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem ligula. Maecenas purus magna, molestie
                        sed turpis eu, congue imperdiet enim. Nulla vitae nisi dictum augue feugiat fermentum a pretium mauris.
                        Sed scelerisque erat quis turpis fermentum molestie. Sed sodales risus egestas justo hendrerit interdum.
                        Suspendisse rhoncus nisl ut lacinia convallis. Mauris pulvinar ac ligula nec congue. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices mi eros, rhoncus
                        porta velit posuere in. In accumsan ante pretium justo commodo malesuada.
                    </p>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Personal Homepage <span class="pull-right badge bg-green">12</span></a></li>
                    </ul>
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
        <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow-active">
                    <div class="widget-user-image">
                        <img alt="User Avatar" src=@routes.Assets.versioned("/images/scozzari_f.jpg") class="img-circle">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Francesca Scozzari</h3>
                    <h5 class="widget-user-desc">Professoressa Associata</h5>
                </div>
                <div class="box-body">
                    <p>Breve descrizione.</p>
                    <p style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem ligula. Maecenas purus magna, molestie
                        sed turpis eu, congue imperdiet enim. Nulla vitae nisi dictum augue feugiat fermentum a pretium mauris.
                        Sed scelerisque erat quis turpis fermentum molestie. Sed sodales risus egestas justo hendrerit interdum.
                        Suspendisse rhoncus nisl ut lacinia convallis. Mauris pulvinar ac ligula nec congue. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices mi eros, rhoncus
                        porta velit posuere in. In accumsan ante pretium justo commodo malesuada.
                    </p>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Personal Homepage <span class="pull-right badge bg-green">12</span></a></li>
                    </ul>
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
        <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red-active">
                    <div class="widget-user-image">
                        <img alt="User Avatar" src=@routes.Assets.versioned("/images/scozzari_f.jpg") class="img-circle">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Francesca Scozzari</h3>
                    <h5 class="widget-user-desc">Professoressa Associata</h5>
                </div>
                <div class="box-body">
                    <p>Breve descrizione.</p>
                    <p style="text-align: justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem ligula. Maecenas purus magna, molestie
                        sed turpis eu, congue imperdiet enim. Nulla vitae nisi dictum augue feugiat fermentum a pretium mauris.
                        Sed scelerisque erat quis turpis fermentum molestie. Sed sodales risus egestas justo hendrerit interdum.
                        Suspendisse rhoncus nisl ut lacinia convallis. Mauris pulvinar ac ligula nec congue. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices mi eros, rhoncus
                        porta velit posuere in. In accumsan ante pretium justo commodo malesuada.
                    </p>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Personal Homepage <span class="pull-right badge bg-green">12</span></a></li>
                    </ul>
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
    </div>
}