@(message: String,
        parametersForm:     Form[ParameterData],
        domain:             Seq[(String,Int)],
        objDom:             Seq[(String,Int)],
        widSco:             Seq[(String,Int)],
        narStr:		        Seq[(String,Int)],
        parametersBytecodeSpecific:	Form[ParameterBytecodeData],
        classSoot:	        Seq[(String,Int)],
        methodsSoot:        Seq[(Seq[(String,Int)],Int)],
        irType:             Seq[(String,Int)],
        analysisType:       Seq[(String,Int)])(menuItem : Int)(implicit messages: Messages)

@import views.html.parameters._
@import views.html.bootstrap3.{selectB, text, select}
@import play.api.libs.json.Json



@main("Analyze Java Bytecode","see the instructions below!","Analyze R code",menuItem) {
    <!-- Your Page Content Here -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
        <!-- codeMirror -->
    <link rel="stylesheet" href="@routes.Assets.versioned("codeMirror/lib/codemirror.css")">
    <script src="@routes.Assets.versioned("codeMirror/lib/codemirror.js")"></script>
    <script src="@routes.Assets.versioned("codeMirror/mode/r/r.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("codeMirror/theme/eclipse.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("codeMirror/addon/display/fullscreen.css")">
    <script src="@routes.Assets.versioned("codeMirror/addon/display/fullscreen.js")"></script>

    <script type="text/javascript">

        var stMetArr = "";
        var jsArr = "";
        $(document).ready(function () {
            stMetArr = '{"items" :[ @Html(methodsSoot.map(s => "{\"klass\" : \"" + s._2 + "\", \"methods\" : " + "[" + s._1.map(m => "{\"index\" : \"" + m._2 + "\", \"method\" : \"" + m._1 + "\"}").mkString(", ") + "]" + "}").mkString(", "))]}';
            jsArr = JSON.parse(stMetArr);
            //console.log(jsArr);
        });

        function changeKlass() {
            var firstSelect = $("#classes");
            var secondSelect = $("#method");
            var valuesForSecondSelect = jsArr.items[firstSelect.val()].methods; //get values based on 1st selection box
            secondSelect.empty(); // remove old options
            //console.log(valuesForSecondSelect);
            $.each(valuesForSecondSelect, function(key, value) {
                //loop through all values for 2nd box and add them
                secondSelect.append($("<option></option>")
                        .attr("value", key).attr("id", key).text(value.method));
            });
        }

    </script>

    <form class="form-horizontal" action="@routes.Application.showBytecode()" method="post" id="formId" name="formId">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Archive selected</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group ">
                            <label for="id-file" class="col-sm-2 control-label">Jar selected: </label>
                            <input type="text" name="fileJar" value="@message" disabled>
                        </div>


                    </div><!-- /.box-body -->
                    <div class="box-footer">
                    </div><!-- /.box-footer-->
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Select class and method</h3>
                    </div>
                    <div class="box-body">

                        @select(
                            parametersBytecodeSpecific("classes"),
                            label = "Class",
                            optionMap = classSoot,
                            isMultiple = false,
                            help = "Select the class. (required)",
                            onChange = "changeKlass()")
                        @select(
                            parametersBytecodeSpecific("method"),
                            label = "Method",
                            optionMap = methodsSoot.head._1,
                            isMultiple = false,
                            help = "Select the method. (required)")
                        @select(
                            parametersBytecodeSpecific("irType"),
                            label = "IR Type",
                            optionMap = irType,
                            isMultiple = false,
                            help = "Select the IR type. (required)")
                        @select(
                            parametersBytecodeSpecific("analysisType"),
                            label = "Analysis type",
                            optionMap = analysisType,
                            isMultiple = false,
                            help = "Select the analysis type. (required)")
                        <input type="hidden" name="origine" id="origine" value="0">

                        <center>
                            <input type="submit" class="btn btn-success" value="Next Step">
                        </center>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                    </div><!-- /.box-footer-->
                </div>

                <div class="box" style="display: none">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editor: carica un file esistente</h3>
                    </div>
                    <div class="box-body">
                        <textarea id="code" name="parData.code"></textarea>
                    </div><!-- /.box-body -->
                </div>

            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Parameters</h3>
                    </div>
                    <div class="box-body">
                    @fieldsetCommon(parametersForm,domain,objDom,widSco,narStr)
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        Footer
                    </div><!-- /.box-footer-->
                </div>
            </div>
        </div>
    </form>
}