@(message: 		String,
        parametersForm:	Form[ParameterData],
        domain:     Seq[(String,Int)],
        objDom:     Seq[(String,Int)],
        widSco:     Seq[(String,Int)],
        narStr:		Seq[(String,Int)])(menuItem : Int)(implicit messages: MessagesApi)

@import views.html.parameters._


@main("Analyze Random Code","see the instructions below!","Analyze R code", menuItem) {
    <!-- Your Page Content Here -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
    <!-- codeMirror -->
    <link rel="stylesheet" href="@routes.Assets.versioned("codeMirror/lib/codemirror.css")">
    <script src="@routes.Assets.versioned("codeMirror/lib/codemirror.js")"></script>
    <script src="@routes.Assets.versioned("codeMirror/mode/r/r.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("codeMirror/theme/eclipse.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("codeMirror/addon/display/fullscreen.css")">
    <script src="@routes.Assets.versioned("codeMirror/addon/display/fullscreen.js")"></script>

    <form class="form-horizontal" action="@routes.Application.resultR()" method="post" id="formId" name="formId">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Select your file or choose one of the examples</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group ">
                            <label for="id-file" class="col-sm-2 control-label">Select File</label>
                            <input type="file" name="file" id="id-file" onchange="loadfile(this)" class="">
                        </div>

                        <div class="form-group ">
                            <label for="Example" class="col-sm-2 control-label">Example</label>
                            <div class="col-sm-4">
                                <select name="Example" id="Example" class="form-control" onchange="loadExample()">
                                    <option value="-1" id="-1" selected="selected">Select file from a list</option>
                                    <option value="array.limit.R" id="0">array.limit.R</option>
                                    <option value="bsearch.R" id="1">bsearch.R</option>
                                    <option value="bsort.param.R" id="2">bsort.param.R</option>
                                    <option value="bsort.R" id="3">bsort.R</option>
                                    <option value="cousot78a.R" id="4">cousot78a.R</option>
                                </select>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                    </div><!-- /.box-footer-->
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editor: Scrivi il codice nell'editor o carica un file esistente</h3>
                    </div>
                    <div class="box-body">
                        <textarea id="code" name="code"></textarea>
                        <script type="text/javascript">
                                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                                    lineNumbers: true,
                                    theme: "eclipse",
                                    extraKeys: {
                                        "F11": function(cm) {
                                            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                                        },
                                        "Esc": function(cm) {
                                            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                                        }
                                    }
                                });

                                function loadfile(input){
                                    var reader = new FileReader();
                                    reader.onload = function(e) {
                                        //document.getElementById('code').value = e.target.result;
                                        editor.setValue(e.target.result);
                                    }
                                    reader.readAsText(input.files[0]);
                                }

                                function loadExample(){
                                    var filename = document.formId.Example.options[document.formId.Example.selectedIndex].value;
                                    var dir = "/assets/example/random/";
                                    var file = dir.concat(filename);
                                    var text = "";
                                    $.get(file, function(ris) {
                                        text=text.concat(ris);
                                        editor.setValue(text);
                                    });
                                }
                        </script>

                        <div class="box-footer">
                            Press F11 when cursor is in the editor to toggle full screen editing. Esc can also be used to exit full screen editing.
                        </div><!-- /.box-footer-->
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Parameters</h3>
                    </div>
                    <div class="box-body">
                        @fieldsetCommon(parametersForm,domain,objDom,widSco,narStr)
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        Footer
                    </div><!-- /.box-footer-->
                </div>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-header with-border">
                <center>
                    <input type="submit" class="btn btn-success" value="Submit">
                </center>
            </div>
            <script>
                    function AnalizeForms() {
                        document.getElementById("demo").innerHTML = "Parametri comuni";
                        document.getElementById("res").style.display = "inline";
                        window.location.replace("http://localhost:9000/Random");
                    }
            </script>
        </div>
    </form>
}
